<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"   content="ie=edge">
  <meta name="viewport"                content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color"             content="#ffffff">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/styles/app.css">
</head>
